.button {
  background-color: white;
  padding: 8px 16px;
  font-size: 0.875rem;
  font-weight: 500;

  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #f4f4f5;
}
