.cellContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.board {
  position: relative;
  flex-wrap: wrap;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.spacer {
  flex: 1 1 calc(100% / 7);
  border-width: 1.5px 0px 0px 0px;
  border-color: black;
  border-style: solid;
}

.spacer2 {
  flex: 1 1 calc(100% / 7);
}
